# Angular
AngularTemplate/.idea/
AngularTemplate/node_modules/
AngularTemplate/package-lock.json
AngularTemplate/.angular
AngularTemplate/dist/
AngularTemplate/out-tsc/


# Django
DjangoProject/.idea
DjangoProject/.venv/
DjangoProject/.env
DjangoProject/__pycache__/
DjangoProject/*.py[cod]
